      <div class="form-control ">
        <h5 style="color: #FFF5F5">Add New Employee</h5>

        <form>
            <input class="center-block" type='text' name="firstName" id="" placeholder="First Name" required>

            <input class="center-block" type='text' name="lastName" id="" placeholder="Last Name" required>

            <input class="center-block" type='text' name="empid" id="" placeholder="Employee Id" required>

            <input class="center-block" type="text" name="mobile" id="" placeholder="Mobile Number" required>

            <input class="center-block" type="text" name="address" id="" placeholder="Address" required>

            <input class="center-block" type='text' name="city" id="" placeholder="City" required>

            <input class="center-block" type="date" name="dob" id="" placeholder="Date Of Birth" required>
            <br>
            <div class="but" >
            <button style="margin-right: 30px" type="submit" class="btn  btn-outline-primary">Add</button>

            </div>
        </form>
</div>
